<div id="aboutMike">
  <p class="disclaimer">in chronological order</p>
  <div class="list_container">
<ul class="list left">
    <li>Barbara & Mike Thibodeau</li>
    <li>Cheryl & Bill Calvert</li>
    <li>Lisa & Tom Mimnaugh</li>
    <li>Jane Donato</li>
    <li>Francis Mitch-Ratcliff</li>
    <li>Carol Kelly</li>
    <li>Joe Lovett & James Cottrell</li>
    <li>Todd Bari</li>
    <li>Bonnie Nelson Schwartz</li>
    <li>Sara & Dave Lemley</li>
    <li>Dante Sabatino</li>
    <li>Karen Hunt</li>
    <li>Megan Hogan</li>
    <li>Hilary & Robert Steinman</li>
    <li>Susan, Jim & Matthew Olivo</li>
    <li>Sam Shinn</li>
    <li>Victor Bonfilio</li>
    <li>Maureen Conard</li>
    <li>Pat Drager</li>
    <li>Maria Klatzmann</li>
    <li>Lorraine Walter</li>
    <li>Michael Palmieri</li>
    <li>Raymond Chassier</li>
    <li>Amy & Rick Kocher</li>
    <li>Warren & Barbara Crescenzo</li>
    <li>Susan & Harvey MacNeill</li>
    <li>Judy Koslick</li>
    <li>Daniel & Sandra Nettina</li>
    <li>Neal C. Melchionni</li>
    <li>Rebecca A. Levi</li>
    <li>Joseph & Rosemary Bancer</li>
    <li>Patricia & Thomas Pili</li>
    <li>Laura & Richard Saker</li>
    <li>Julie Gaynin</li>
    <li>Mary E. Viola</li>
    <li>Carol Geer</li>
    <li>Leon & Jeanette Brassard</li>
    <li>Amy & Henry Thibodeau</li>
    <li>Linda & Howard Henderson</li>
    <li>Nita & Joseph Savarese</li>
    <li>Michele & Arthur Ogren</li>
    <li>Vineland School Nurses</li>
    <li>Joseph & Donna DeQuila</li>
    <li>Sandy & Richard Kalriess</li>
    <li>Joe & Peggy Libretti</li>
    <li>Jeannie & Jim Higgins</li>
    <li>Vincent & Jeanne DeQuila</li>
    <li>Michelle & William Loeschke</li>
    <li>Karen Gaynin</li>
    <li>Mary Ann Gardiner</li>
    <li>Josephine Knaub</li>
    <li>Stephanie Krotosky</li>
    <li>Mike and Louise Salatino & Family</li>
    <li>Zoe Johnson</li>
    <li>Courtney Calvert & Alec Pastre</li>
</ul>

<ul class="list right">
  <li>Juliana Beckel & Jacob Carnow</li>
  <li>Elizabeth Patitucci</li>
  <li>Laura Fong</li>
  <li>Helen Hazelton</li>
  <li>Sindhu Prahalada</li>
  <li>Agnes & Robert Sharpe</li>
  <li>Donna A. Poolake</li>
  <li>Victoria P. Young</li>
  <li>Michael Porter</li>
  <li>Jamie Hogan</li>
    <li>Genealogy Boutique & Formals</li>
    <li>Lynn C. Westendorf</li>
    <li>Edgar J. Thibodeau Sr.</li>
    <li>Carol Crosley</li>
    <li>Ivy Chan</li>
    <li>Janice Marie Lemmons</li>
    <li>Eduardo Camacho</li>
    <li>Patricia & Donald Messatzzia</li>
    <li>Cory Bortnicker</li>
    <li>Florence Spevak</li>
    <li>Deborah Wohl-Isard</li>
    <li>Sarah Pease</li>
    <li>Anastasia Frangoulis</li>
    <li>Casey Calvert</li>
    <li>Gina and Bram Hass</li>
    <li>Ayesha Nadarajah</li>
    <li>Wyatt Schneider</li>
    <li>Samantha McDonough</li>
    <li>Miguel Mendiola</li>
    <li>Bruce Devlin</li>
    <li>Cindy & Mike Hamel</li>
    <li>Christine Jurgielewicz</li>
    <li>Rachel Dewey</li>
    <li>Patricia B. McCaffrey</li>
    <li>Kristine Minor</li>
    <li>Richelle Black</li>
    <li>6th Grade Teachers Wallace School</li>
    <li>Cristina Salatino</li>
    <li>Mark & Kelly Thompson</li>
    <li>Fred & Kathleen Dohn</li>
    <li>George Munz</li>
    <li>Kasey Helmick & family</li>
    <li>Marsha Charlton</li>
    <li>7th Grade Teachers Wallace School</li>
    <li>Brian Dohn</li>
    <li>Matthew  Merighi</li>
    <li>Giorgina Munz</li>
    <li>Matthew Mimnaugh</li>
    <li>Pilar Garza</li>
    <li>Scott Donovan</li>
    <li>Giorgia Brugnoli</li>
    <li>Glenn & Jeananne McCaffrey</li>
    <li>Teddy Mimnaugh</li>
    <li>Douglas Dano</li>
    <li>PP</li>
    <li>Mary Hourihan</li>
  </ul>
  <br>
<div class="disclaimer2">Donations in memory of Mike's grandfather, Edgar Thibodeau</div>
    <ul class="list left">
      <li>Copps Corner Owners Association</li>
      <li>Dianne Dewitt</li>
      <li>Lisa Lamason and Family</li>
      <li>Nancy Dalldorf</li>
    </ul>
</div>
<div class="padding-40"></div>
<button class="button" href="" text-decoration="none" ><%= link_to 'HOME', root_path %></button>
</div>
