
  <h4 id="tagline">Help us keep Mike's passion for cinema alive. Support the:</h4>
  <h3 id="scholarship">MICHAEL G. THIBODEAU Jr. MEMORIAL SCHOLARSHIP</h3>
  <div class="video">
    <video src="https://s3-us-west-2.amazonaws.com/tomikefrom/MIKE+VIDEO+FINAL.mp4" autoplay muted poster="" autoplay="autoplay" loop></video >
      <div class="overlay valign-wrapper" id="video_overlay">
        <div class="text center"><i class="volume material-icons" font-size="50px">volume_off</i></div>
      </div>
    </div>

    <h3 class="info">63 days left, only $14,715 to go.</h3>

    <button class="button" href=""><%= link_to 'LEARN MORE', about_path %></button>
