    <span id="background">

        <img class="image">
            <%= image_tag("mike_@lovett-productions.jpg", width:'693px', height: '1038px') %>
        </img>

    </span>

    <!-- UPPER SECTION DIV -->
    <div class="uppersection">
        <!-- UPPER SECTION DIV -->

        <h2 id="websiteName">TO MIKE, FROM US</h2>
        <hr id="webNameUnderline">
        <!-- <br> -->

        <h4 id="tagline">Help us keep Mike's passion for cinema alive. Support the:</h4>
        <h3 id="scholarship">MICHAEL G. THIBODEAU Jr. MEMORIAL SCHOLARSHIP</h3>

        <video width="585px" height="439px" src="videofile.ogg" autoplay poster="videoStill.jpg"></video >

        <h3 id="info">20 days left, only $19,000 to go.</h3>

        <button class="button">Learn More</button>

        <!-- UPPER SECTION DIV -->
    </div>
    <!-- UPPER SECTION DIV -->

    <!-- LOWER SECTION DIV -->
    <div class="lowersection">
        <!-- LOWER SECTION DIV -->

        <div class="blurb">
            <p><%= @donee.blurb %></p>
        </div>
        <div class="donee">
            <p>-
                <%= @donee.name %></p>
        </div>

        <div class="language">
            To honor Michael and keep his passion of working in film and television alive and helping other dreamers fulfill their goals, a scholarship fund called the Michael G. Thibodeau Jr. Memorial Scholarship has been created in his honor at his alma mater,
            Savannah College of Art & Design (SCAD) by his parents, Barbara and Michael Thibodeau, Sr.
            <br>
            If we reach the goal, the fund will be endowed and will live on in Michael's name, growing and providing more and more scholarship awards to countless future generations of students that share Michael's passion.
        </div>

        <button onclick="location.href='https://web-ssl-2.scad.edu/banner/plsql/hwakgift.P_Index'" type="button" class="button" id="donate">Donate</button>

        <div class="instructions">
            <p>
              PLEASE NOTE: Under "Donation Information", select "Scholarship," then in the "Designate Donation To:" dropdown,
              choose the "Michael G. Thibodeau Jr. Memorial Scholarship."
            </p>
        </div>

        <!-- <p id="notice"><%#= notice %></p>

<p>
<strong>Name:</strong>
<%#= @donee.name %>
</p> -->

        <!-- LOWER SECTION DIV -->
    </div>
    <!-- LOWER SECTION DIV -->


<!-- <p>
  <strong>Blurb:</strong>
  <%#= @donee.blurb %>
</p> -->

<!-- <%#= link_to 'Edit', edit_donee_path(@donee) %> | -->
<%#= link_to 'Back', donees_path %>
