<span id="background">

    <img class="image">
        <%= image_tag("mike_@lovett-productions.jpg", width:'693px', height: '1038px') %>
    </img>

</span>

<!-- UPPER SECTION DIV -->
<div class="uppersection">
    <!-- UPPER SECTION DIV -->
<div class="menu">
    <ul >
        <li>
          <h2 id="websiteName">TO MIKE, FROM US</h2>
          <!-- <hr id="webNameUnderline"> -->
        </li>
        <li>
          <h2 id="aboutMike">ABOUT MIKE</h2>
        </li>
        <li>
          <h2 id="inOurWords">IN OUR WORDS</h2>
            <!-- <%#=@donee_names. each do |donee|%>
              <li>
                <%#=donee%>
              </li> -->
        </li>
    </ul>
  </div>

<!-- START PARTIAL -->
  <div class="partial">
    <%=render partial: 'inOurWords' %>
    
    <!-- END PARTIAL -->
  </div>

    <!-- END UPPER SECTION DIV -->
</div>
<!-- END UPPER SECTION DIV -->

<!-- START LOWER SECTION DIV -->
<div class="lowersection">
    <!-- START LOWER SECTION DIV -->

    <!-- <div class="blurb">
            <p><%= @donee.blurb %></p>
        </div>
        <div class="donee">
            <p>-
                <%= @donee.name %></p>
        </div> -->

    <div class="language">
        To honor Michael and keep his passion of working in film and television alive and helping other dreamers fulfill their goals, a scholarship fund called the Michael G. Thibodeau Jr. Memorial Scholarship has been created in his honor at his alma mater,
        Savannah College of Art & Design (SCAD) by his parents, Barbara and Michael Thibodeau, Sr.
        <br>
        If we reach the goal, the fund will be endowed and will live on in Michael's name, growing and providing more and more scholarship awards to countless future generations of students that share Michael's passion.
        <button onclick="location.href='https://web-ssl-2.scad.edu/banner/plsql/hwakgift.P_Index'" type="button" class="button" id="donate">Donate</button>
        <div class="instructions">
          <p>
            PLEASE NOTE: Under "Donation Information", select "Scholarship," then in the "Designate Donation To:" dropdown, choose the "Michael G. Thibodeau Jr. Memorial Scholarship."
          </p>
        </div>
    </div>



    <!-- <p id="notice"><%#= notice %></p>

<p>
<strong>Name:</strong>
<%#= @donee.name %>
</p> -->

    <!-- LOWER SECTION DIV -->
</div>
<!-- LOWER SECTION DIV -->

<!-- <p>
  <strong>Blurb:</strong>
  <%#= @donee.blurb %>
</p> -->

<!-- <%#= link_to 'Edit', edit_donee_path(@donee) %> | -->
<%#= link_to 'Back', donees_path %>
