<div class="scroll">

<div class="blurb">
  <p><%= @donee.blurb %></p>
</div>
<div class="donee">
    <p>- <%= @donee.name %></p>
</div>

</div>

<button class="button" href="" text-decoration="none" ><%= link_to 'HOME', root_path %></button>
