<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donee.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @donee.blurb %>
</p>

<%#= link_to 'Edit', edit_donee_path(@donee) %> |
<%#= link_to 'Back', donees_path %>
