

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***********SANTIAGO's STYLE**********/

html {
    font-family: 'ProximaNova-Light'!important;
}

.container {
    margin: 0 auto;
    width: 1365px;
    height: 1928px;
    padding-left: 75px;
}

#background, img {
    float: right;
}

.uppersection {
  height: 1038px;
}

div .menu {
    padding-top: 70px;
    width: 585px;
    height: 24px;
    font-size: 18px;
}

h2 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    line-height: 25px;
    color: #7A7A7A;
    float: left;
}

#aboutMike {
    margin-left: 79px;
}

#inOurWords {
    margin-left: 79px;
}

#webNameUnderline {
    float: left;
    box-sizing: border-box;
    width: 193px;
    height: 3px;
    border: 2px solid #F8E71C;
}

#partialHome{
  height: 863px;
  width: 585px;
}

#partiaProfessionalBio{
  padding-top: 205px;
  height: 739px;
  width: 585px;
}

#professionalBio{
  position: 0 absolute;
  text-align: justify;
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

#partialInOurWords{
  padding-top: 205px;
  height: 739px;
  width: 585px;
}

#doneeWords{
  position: 0 absolute;
  text-align: justify;
  font-family: "Helvetica Neue";
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

h4, #tagline {
    width: 585px;
    margin-top: 81px;
    font-family: "Helvetica Neue";
    font-size: 28px !important;
    line-height: 36px;
    color: #000000;
    padding-bottom: 10px;
}

h3, #scholarship {
    padding-top: 45px;
    width: 585px;
    height: 108px;
    font-family: "Helvetica Neue";
    font-size: 43px;
    font-weight: bold;
    line-height: 55px;
    color: #000000;
}

video {
    max-width: 585px;
    max-height: 329.06px;
    object-fit: contain;
}

.video {
    margin-top: 35px;
    position: relative;
    max-width: 585px;
    max-height: 329.06px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7A7A7C;
}

.video:hover .overlay {
    opacity: 0.75;
}

.material-icons {
    font-size: 50px;
    color: #F8E71C
}

h3, #info {
    width: 521px;
    height: 42px;
    font-family: "Helvetica Neue";
    font-size: 35px;
    font-weight: bold;
    line-height: 43px;
    color: #000000;
}
a, .button {
    width: 264px;
    height: 64px;
    background-color: #F8E71C;
    box-shadow: 0 2px 7px 0 rgba(102, 122, 142, 0.4);
    font-family: "Helvetica Neue";
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    color: #000000;
    border: none;
    margin-top: 28px;
}
.lowersection {
    margin-top: 70px;
}
.blurb {
    width: 1216px;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-style: italic;
    text-align: center;
    line-height: 37px;
    color: #000000;
    margin-top: 117px;
}
.donee {
    text-align: center;
    width: 1216px;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-style: italic;
    text-align: center;
    line-height: 37px;
    color: #000000;
}
.language {
  margin: 0 auto;
    width: 76%;
    font-family: "Helvetica Neue";
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    color: #000000;
}

.instructions {
  margin: 0 auto;
    width: 650px;
    height: 72px;
    font-family: "Helvetica Neue";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    color: #000000;
    margin-top: 25px;
}
