<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="#">TO MIKE, FROM US</a></li>
  <li><a href="#">ABOUT MIKE</a></li>
  <li><a href="#">OUR WORDS</a>
    <% if !@donees.empty? %>
      <ul>
        <%= render partial: "layouts/top_menu_li", collection: @donees, as: :donee %>
      </ul>
    <% end %>
  </li>
</ul>
</nav>
